container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_migrate:
    command: "python manage.py makesuper"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: itj.settings
    PYTHONPATH: "/opt/python/current/app/src:$PYTHONPATH"